# URL Config
WEB_URL=
WEB_PORT=

# Authentication
USERNAME=
PASSWORD=

# Database config
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# API Token
API_KEY=

# Security config
JWT_SECRET=

# Environment config
NODE_ENV=
